<h1>Find your house</h1>

<%= form_tag tenancies_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @houses.nil? %>
  <p>Enter a house name</p>
<% else %>
  <% @houses.each do |h| %>
    <%= link_to h.name, tenancies_path({house_id: h.id}), method: :post %>
  <% end %>
<% end %>