<h1 style="margin-bottom: 0px">List of All Houses</h1>
<%= link_to "Add House", new_house_path %><br><br>

<% @houses.each do |house| %>
  <%= house.name %><br>
  <%= house.address %><br>
  <%= house.city %><br><br>
<% end %>