<!-- <h1 style="margin-bottom: 0px"> --><h2 class="subheader">List of All Houses</h2>
<%= link_to "Add House", new_house_path %><br><br>

<% @houses.each do |house| %>
  <%= link_to house.name, house_path(house.id) %><br>
  <%= house.address %><br>
  <%= house.city %><br><br>
<% end %>