<br />
Hi, <%=@user.first_name%>!
<hr />
<div class="row">
  <div class="large-12 columns">
    <h2 class="subheader">Dashboard   <%= image_tag("dashboardpic.png", :size => "40x40") %></h2>
  </div>
</div>
<!-- <br>
 <div class="panel">
    <div class="row">
      <div class="large-12 column">
        <h2 class="subheader">Notes</h2>
      </div>
    </div>
</div> -->
<br>



 <div class="large-9 columns" role="content">
    <div class="panel">
    <h5>Current Chore List</h5>
        <li>Clean dishes</li>
        <li>Mop floors</li>
    </div>
  <div class="panel">
    <h5>Completed Chores List</h5>
        <li>Clean Washroom</li>
  </div>
  <div class="panel">
    <h5>Miscellaneous</h5>
  </div>
</div>

  <!-- Sidebar -->

    <aside class="large-3 columns">


      <div class="panel">
        <h5>Notes</h5>
        Hello roommates! <br> Let's OWWWWN this appppp!
        <a href="#">Read More →</a>
      </div>

    </aside>

    <!-- End Sidebar -->
