<br />
Hi, <%=@user.first_name%>!
<hr />
<div class="row">
  <div class="large-12 columns">
    <h2 class="subheader">Dashboard</h2>
  </div>
</div>
<!-- <br>
 <div class="panel">
    <div class="row">
      <div class="large-12 column">
        <h2 class="subheader">Notes</h2>
      </div>
    </div>
</div> -->
<br>


<!-- <div class="row">
  <div class="small-8 columns">
    <h3 class="subheader">Current Chores List</h3>
      <div class="panel">
        <div class="small-8 columns">
        <ul>
          <li> Clean dishes!</li>
          <li> Do Laundry </li>
          </ul>
        </div></div>
      <h3 class="subheader">  Completed Chore List</h3>
      <div class="panel"><div class="small-4 columns">Done Mopping</div></div>
  <div class="small-4 columns">Notes</div>
</div> -->


<div class="tabs-content vertical">
  <div class="content active" id="panel1a">
    <div class="panel">
    <p>Panel 1 content goes here.</p>
    </div>
  </div>
  <div class="content" id="panel2a">
    <p>Panel 2 content goes here.</p>
  </div>
  <div class="content" id="panel3a">
    <p>Panel 3 content goes here.</p>
  </div>
  <div class="content" id="panel4a">
    <p>Panel 4 content goes here.</p>
  </div>
</div>

