// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .top-bar-section {
//   overflow: auto;
//   // text-align: center;

//   & > ul {
//     display: inline-block;
//   }
// }

.main-container {
  margin-top: 60px;
}

.top-bar {
  background: rgba(42,62,89,0.9);
}

.top-bar li a:active{
       background: black;
    }

.sub-nav dd a {
  &:hover, {
    background: #25B4A1;
    border-radius: 3px;
    color: #fff;
  }
}

.active {
  background: #25B4A1;
  color: #fff!important;
  border-radius: 3px;
}